<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dsa.rimpark">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_rimpark"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".EventAddActivity"
            android:label="@string/title_activity_event_add">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dsa.rimpark.MainActivity" />
        </activity>
        <activity android:name=".CardActivity" />
        <activity
            android:name=".EventAttendeeActivity"
            android:label="@string/title_activity_event_attendee"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dsa.rimpark.MainActivity" />
        </activity>
        <activity
            android:name=".AttendeeAddActivity"
            android:label="@string/title_activity_attendee_add">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dsa.rimpark.EventAttendeeActivity" />
        </activity>
        <activity android:name=".ImportExcel"></activity>
    </application>

</manifest>